<html>
  <head>
      <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    {% if title %}
    <title>{{title}} - auction</title>
    {% else %}
    <title>auction</title>
    {% endif %}
  </head>
  <body>
  <div id="header">
    <span class="logo">Auction&Gallery</span>
    <span class="user">
            <a href="{{ url_for ('logs') }}">Logs</a>
            <a href="{{ url_for ('apps') }}">Application&User</a>
            <a href="{{ url_for ('apps_auction') }}">Application&Auctions</a>
    </span>
</div>
    <div>Succesful add
    </div>
  </body>
</html>