<html>
  <head>
      <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    {% if title %}
    <title>{{title}} - auction</title>
    {% else %}
    <title>auction</title>
    {% endif %}
  </head>
  <body>
  <div id="header">
    <span class="logo">Auction&Gallery</span>
    <span class="user">
            <a href="{{ url_for ('logout') }}">Logout</a>
    </span>
</div>
    <div>
        <a href="{{ url_for('auctions') }}">Auctions</a>
        <a href="{{ url_for('pictures_rev') }}">Pictures</a>
    </div>
  </body>
</html>