<html>
  <head>
      <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    {% if title %}
    <title>{{title}} - auction</title>
    {% else %}
    <title>auction</title>
    {% endif %}
  </head>
  <body>
  <div id="header">
    <span class="logo">Auction&Gallery</span>
    <span class="user">
            <a href="{{ url_for ('index_author') }}">Home</a>
            <a href="{{ url_for ('add_auction') }}">Add auction</a>
            <a href="{{ url_for ('logout') }}">Logout</a>
            <a href="{{ url_for ('list_apps_auction') }}">Application Auction</a>
    </span>
</div>
    <div class="container">
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data">
            {{ auction_form.csrf_token }}
            <div class="input-field col s12 m8">
                <i class="material-icons prefix">date</i>
                {{ auction_form.date_of_action(class_="datepicker") }}
                {{ auction_form.date_of_action.label }}
            </div>
            <div class="input-field col s12 m8">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>
  </body>
</html>